.progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    /* opacity: 0; */
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}


body {
    background-color: lightgrey;
}
svg {
    font: 10px sans-serif;
}

#graph .back{
    fill: #aaaaaa;
    stroke: #a0a0a0;
    stroke-width: 5;
}
#range .back{
    fill: #aaaaaa;
    stroke: #a0a0a0;
    stroke-width: 5;
}

#tooltip {
    position: absolute;
    /*width: 200px;*/
    height: auto;
    padding: 2px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 11px;
    /*  line-height: 20px;*/
}

.node {
    /* opacity: 0.3; */
}

.node .label {
    margin: 0;
    font-family: sans-serif;
    /* font-size: 11px; */
    /*  line-height: 20px;*/
}

.node.fixed {
    opacity: 0.3;
}

.link {
    /* stroke: #999; */
    stroke: black;
    /* stroke-opacity: .6; */
}

.area {
    fill: steelblue;
    clip-path: url(#clip);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #cccccc;
    fill-opacity: 0.125;
    shape-rendering: crispEdges;
}


#settings_container {
    background-color: blue;
    position: absolute;
    left: 1010;
    top: 10;
}

.content {
    margin: auto;
    width: 32em;
}
